### Hello world

In [2]:
print('Hello world !!')

Hello world !!

### Data types

####  Numbers

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [5]:
1 / 2

0.5

In [6]:
2 ** 4

16

In [7]:
4 % 2

0

In [8]:
5 % 2

1

In [9]:
(2 + 3) * (5 + 5)

50

#### Variables

In [10]:
a = 10

In [11]:
type(a)

int

In [12]:
print(a)

10

In [13]:
b = 20.5

In [14]:
type(b)

float

In [15]:
print(b)

20.5

In [16]:
c = True

In [17]:
type(c)

bool

In [18]:
print(c)

True

In [19]:
d = "My string"

In [20]:
type(d)

str

In [21]:
print(d)

My string

#### List

In [22]:
#list
my_list = [1,2,3,1,2,5,1,2]

In [23]:
print(my_list)

[1, 2, 3, 1, 2, 5, 1, 2]

In [24]:
type(my_list)

list

In [25]:
my_list.append(6)

In [26]:
my_list

[1, 2, 3, 1, 2, 5, 1, 2, 6]

In [27]:
my_another_list = [7, 8, 9]

In [28]:
my_list.extend(my_another_list)

In [29]:
my_list

[1, 2, 3, 1, 2, 5, 1, 2, 6, 7, 8, 9]

In [30]:
my_list.count(1)

3

In [31]:
my_list.reverse()

In [32]:
my_list

[9, 8, 7, 6, 2, 1, 5, 2, 1, 3, 2, 1]

In [33]:
len(my_list)

12

In [34]:
min(my_list)

1

In [35]:
max(my_list)

9

In [36]:
sum(my_list)

47

In [37]:
my_list[0]

9

In [38]:
my_list[4]

2

In [39]:
my_list[-1]

1

In [40]:
my_list[2:4]

[7, 6]

In [41]:
my_list

[9, 8, 7, 6, 2, 1, 5, 2, 1, 3, 2, 1]

In [42]:
my_list[:5]

[9, 8, 7, 6, 2]

In [43]:
my_list[6:]

[5, 2, 1, 3, 2, 1]

In [44]:
my_list[0] = 10

In [45]:
my_list

[10, 8, 7, 6, 2, 1, 5, 2, 1, 3, 2, 1]

In [46]:
my_str_list = ['a','b','c']

In [47]:
my_str_list.append('d')

In [48]:
my_str_list

['a', 'b', 'c', 'd']

In [49]:
my_nest_list = [1,2,3,[4,5,['target','hello']]]

In [50]:
print(my_nest_list)

[1, 2, 3, [4, 5, ['target', 'hello']]]

In [51]:
my_nest_list[3]

[4, 5, ['target', 'hello']]

In [52]:
my_nest_list[3][2]

['target', 'hello']

In [53]:
my_nest_list[3][2][0][0]

't'

Examples for below methods of list are performed in another notebook Python_List_Operations.ipynb 

append,
clear,
copy,
count,
extend,
index,
insert,
pop,
remove,
reverse,
sort

#### Tuple

In [54]:
t1 = (1,2,3,4,5,6,7,8,9,1,2,3,4,5)

In [55]:
type(t1)

tuple

In [56]:
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5)

In [57]:
#tuple cant be changed i,e its is immutable
t1.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [58]:
#tuple cant be changed i,e its is immutable
t1[0] = 10

TypeError: 'tuple' object does not support item assignment

In [59]:
len(t1)

14

In [60]:
t1[1]

2

In [61]:
t1[-1]

5

In [62]:
t1[2:7]

(3, 4, 5, 6, 7)

In [63]:
t1[5:]

(6, 7, 8, 9, 1, 2, 3, 4, 5)

In [64]:
t1[:6]

(1, 2, 3, 4, 5, 6)

In [65]:
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5)

In [66]:
t1.index(3)

2

In [67]:
t1.count(1)

2

In [68]:
my_list = list(t1)

In [69]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5]

In [70]:
type(my_list)

list

Example for converting list to tuple

In [71]:
tuple(my_list)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5)

Changing more than one element from list using slicing notation

In [76]:
#Using Slicing notation
my_list[4:7] = [99, 98, 97]

In [77]:
my_list

[1, 2, 3, 4, 99, 98, 97, 8, 9, 1, 2, 3, 4, 5]

#### set

In [78]:
s = {1,2,3,4,1,2,3}

In [79]:
type(s)

set

In [80]:
print(s)

{1, 2, 3, 4}

In [81]:
#Set cant be accessed with index
s[1]

TypeError: 'set' object does not support indexing

In [82]:
len(s)

4

In [83]:
min(s)

1

Example for all the methods of set

In [84]:
s.add(5)

In [86]:
print(s)

{1, 2, 3, 4, 5}

In [87]:
s.clear()

In [88]:
print(s)

set()

In [89]:
my_set = {1,2,3,4,5}

In [90]:
my_set.pop()

1

In [91]:
print(my_set)

{2, 3, 4, 5}

In [93]:
my_set.difference({3,4})

{2, 5}

In [95]:
my_set.discard(5)

In [96]:
print(my_set)

{2, 3, 4}

In [101]:
my_set.intersection({1,3})

{3}

In [102]:
my_set.union({1,5})

{1, 2, 3, 4, 5}

list vs tuple with example

In [110]:
#Both allow duplicates
my_list = [1,2,4,7,9,8,9,1]

In [111]:
#No Changing of elements
my_tuple = (1,2,4,7,9,8,9,1)

In [112]:
my_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

list vs set with example

In [113]:
my_list

[1, 2, 4, 7, 9, 8, 9, 1]

In [114]:
my_set = {1, 2, 4, 7, 9, 8, 9, 1}

In [116]:
#Set doesn't allow duplicates
print(my_set)

{1, 2, 4, 7, 8, 9}

In [118]:
#Allows duplicates
print(my_tuple)

(1, 2, 4, 7, 9, 8, 9, 1)

convert set to list and tuple

In [124]:
ls = list(my_set)

In [125]:
ts = tuple(my_set)

In [126]:
print(type(ls),type(ts))

<class 'list'> <class 'tuple'>

In [128]:
print(type(set(ls)))

<class 'set'>

In [129]:
print(type(set(ts)))

<class 'set'>

#### dictionary

In [130]:
dict1 = {"name":"jhon", "age" :29, "Prog_languages":['python','scala','java']}

In [131]:
type(dict1)

dict

In [132]:
dict1['name']

'jhon'

In [133]:
dict1['Prog_languages']

['python', 'scala', 'java']

In [134]:
dict1['Prog_languages'][2]

'java'

In [135]:
dict1.update({"country" : "India"})

Example for all the methods of dictionary

In [137]:
my_dict = {'a':1,'b':2,'c':3}

In [138]:
my_dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [139]:
my_dict.keys()

dict_keys(['a', 'b', 'c'])

In [140]:
my_dict.get('a')

1

In [142]:
my_dict.pop('a')

1

In [143]:
my_dict

{'b': 2, 'c': 3}

In [149]:
my_dict.update({'b':4})

In [150]:
my_dict

{'b': 4, 'c': 3}

In [151]:
my_dict.values()

dict_values([4, 3])

Create dictionary from list,tuple and set

In [152]:
my_list = [[1,2],[3,4],[5,6]]

In [153]:
dict(my_list)

{1: 2, 3: 4, 5: 6}

In [154]:
my_tuple = (('a',1),('b',2),('c',3))

In [155]:
dict(my_tuple)

{'a': 1, 'b': 2, 'c': 3}

In [156]:
my_set = {1,2,4,5,7,8}

In [158]:
dict.fromkeys(my_set, 'a')

{1: 'a', 2: 'a', 4: 'a', 5: 'a', 7: 'a', 8: 'a'}

#### String

In [159]:
'single quotes'

'single quotes'

In [160]:
"double quotes"

'double quotes'

In [161]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

In [162]:
s1 = 'Hello string 1'

In [163]:
type(s1)

str

In [164]:
print(s1)

Hello string 1

In [165]:
s2 = "Hello string 2"

In [166]:
type(s2)

str

In [167]:
print(s2)

Hello string 2

In [168]:
s2[0]

'H'

In [169]:
s2[8]

'r'

In [170]:
s2[-1]

'2'

In [171]:
len(s2)

14

In [172]:
s2_lower = s2.lower()

In [173]:
s2_lower

'hello string 2'

In [174]:
s2.split(" ")

['Hello', 'string', '2']

Example for all the methods of string

In [175]:
my_string = "python_basics"

In [176]:
my_string.capitalize()

'Python_basics'

In [180]:
my_string.center(3)

'python_basics'

In [181]:
my_string.count('a')

1

In [182]:
my_string.endswith('cs')

True

In [183]:
my_string.find('i')

10

In [185]:
my_string.split('_')

['python', 'basics']

In [186]:
my_string.isalnum()

False

In [187]:
my_string.lower()

'python_basics'

In [188]:
my_string.startswith('py')

True

In [189]:
my_string.title()

'Python_Basics'

In [190]:
my_string.isprintable()

True

In [191]:
my_string.replace('a','c')

'python_bcsics'

In [192]:
my_string.rsplit()

['python_basics']

#### Printing

In [193]:
x = 'hello'

In [194]:
print(x)

hello

In [195]:
num = 13
name = 'xyz'

In [196]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 13, and my name is: xyz

In [197]:
#{} place holder

### Comparison Operators

In [198]:
1 > 2

False

In [199]:
1 < 2

True

In [200]:
1 >= 1

True

In [201]:
1 <= 4

True

In [202]:
1 == 1

True

In [203]:
'hi' == 'bye'

False

### Logic Operators

In [204]:
(1 > 2) and (2 < 3)

False

In [205]:
(1 > 2) or (2 < 3)

True

In [206]:
(1 == 2) or (2 == 3) or (4 == 4)

True

### if,elif, else Statements

In [207]:
if 1 < 2:
    print('Yep!')

Yep!

In [208]:
if 1 > 2:
    print('Yep!')

In [209]:
n = 10

In [210]:
if n > 5:
    print('Yep!')

Yep!

In [211]:
a = 1
b = 2

In [212]:
if a < b:
    print('first')
else:
    print('last')

first

In [213]:
if a > b:
    print('first')
else:
    print('last')

last

In [214]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [215]:
num = 0

In [216]:
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [217]:
num = 0

In [218]:
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [219]:
num = -1

In [220]:
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Negative number

In [222]:
num = float(input("Enter a number: "))

Enter a number: 5.6

In [223]:
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

1.More example for if,elif,else Statements

2.More example for input

In [224]:
seq = [1,2,3,4,5]

In [225]:
for item in seq:
    print(item)

1
2
3
4
5

In [226]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [227]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

In [228]:
l = range(20)

In [229]:
l

range(0, 20)

In [230]:
for i in l:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [231]:
for i in l:
    print(i+i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [232]:
even_list = []

In [233]:
odd_list = []

In [234]:
for i in l:
    if(i%2==0):
        even_list.append(i)     
    else:
        odd_list.append(i)

In [235]:
even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [236]:
odd_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [237]:
sum = 0

In [238]:
for val in l:
    sum = sum+val

In [239]:
sum

190

In [240]:
programming_languages = ['Python', 'Scala', 'Java']

In [241]:
for p_language in range(len(programming_languages)):
    print("I like {}".format(programming_languages[p_language]))

I like Python
I like Scala
I like Java

1.Nested for loop

2.More example with range() function

### while Loops

In [242]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

### list comprehension

In [243]:
x = [1,2,3,4]

In [244]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [245]:
[item**2 for item in x]

[1, 4, 9, 16]

1.list comprehension with if condition 

2.Nested for loop in list comprehension

In [246]:
for i in range(3):
    print(i)
    dsfsdf
    sdg
    sdgds
    fds
    gdg
    
    dgdf
    g
    dgdf
    g

0

NameError: name 'dsfsdf' is not defined